In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# 数据来源

* 国家统计局

In [2]:
cz = pd.read_csv('chuzu.csv',skiprows=3,skipfooter=1,engine='python')

In [3]:
chuzu = cz.set_index('地区').stack().reset_index().rename(columns={'地区':'name','level_1':'date',0:'value'})

In [4]:
chuzu.sort_values(['name','date'],ascending=True,inplace=True)

In [5]:
chuzu['type']=chuzu['name'].str[:1]

In [6]:
chuzu.dtypes

name      object
date      object
value    float64
type      object
dtype: object

In [7]:
chuzu=chuzu[['name','type','value','date']]

In [8]:
chuzu.head()

    name type    value   date
125  上海市    上  48709.0  2004年
124  上海市    上  47794.0  2005年
123  上海市    上  48022.0  2006年
122  上海市    上  48614.0  2007年
121  上海市    上  48059.0  2008年

In [9]:
chuzu.to_csv('chuzuche.csv',index=False)